atomicwrites==1.1.5
attrs==18.1.0
blessings==1.7
funcsigs==1.0.2
marionette-driver==2.7.0
more-itertools==4.3.0
mozdevice==1.0.0
mozfile==1.2
mozinfo==0.10
mozlog==3.8
moznetwork==0.27
mozprocess==0.26
mozprofile==1.1.0
mozrunner==7.0.1
mozterm==1.0.0
mozversion==1.5
pathlib2==2.3.2
pluggy==0.7.1
py==1.5.4
pytest==3.7.0
scandir==1.7
six==1.11.0
